In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [4]:
class CONFIG:

    NAMES_DTYPES = {
        "Source" : str,
        "Production" : np.float32
    }

current_directory = os.getcwd()
parent_folder_path = os.path.abspath(os.path.join(current_directory, "."))
data_folder_path = os.path.join(parent_folder_path, "data")
file_path = os.path.join(data_folder_path, "intermittent-renewables-production-france.csv")
data = pd.read_csv(
    file_path,
    index_col="Date and Hour",
    parse_dates=["Date and Hour", "Date"],
    dtype=CONFIG.NAMES_DTYPES
)
data.shape

(59806, 8)

In [5]:
data.head()

,Date,StartHour,EndHour,Source,Production,dayOfYear,dayName,monthName
Date and Hour,,,,,,,,
2020-07-22 20:00:00+02:00,2020-07-22,20:00:00,21:00:00,Solar,244.0,204,Wednesday,July
2020-07-23 07:00:00+02:00,2020-07-23,07:00:00,08:00:00,Solar,223.0,205,Thursday,July
2020-07-23 16:00:00+02:00,2020-07-23,16:00:00,17:00:00,Solar,2517.0,205,Thursday,July
2020-07-23 19:00:00+02:00,2020-07-23,19:00:00,20:00:00,Solar,658.0,205,Thursday,July
2020-07-23 23:00:00+02:00,2020-07-23,23:00:00,24:00:00,Solar,0.0,205,Thursday,July

In [6]:
# Verificar valores ausentes
missing_values = data.isnull().sum()

# Mostrar a contagem de valores ausentes por coluna
print(missing_values)

Date          0
StartHour     0
EndHour       0
Source        0
Production    2
dayOfYear     0
dayName       0
monthName     0
dtype: int64