In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX
from tqdm import tqdm
plt.style.use('ggplot')

In [2]:
class CONFIG:

    NAMES_DTYPES = {
        "Source" : str,
        "Production" : np.float32
    }

current_directory = os.getcwd()
parent_folder_path = os.path.abspath(os.path.join(current_directory, "."))
data_folder_path = os.path.join(parent_folder_path, "data")
file_path = os.path.join(data_folder_path, "intermittent-renewables-production-france.csv")
data = pd.read_csv(
    file_path,
    index_col="Date and Hour",
    parse_dates=["Date and Hour", "Date"],
    dtype=CONFIG.NAMES_DTYPES
)
data.shape

(59806, 8)

In [3]:
data.head()

,Date,StartHour,EndHour,Source,Production,dayOfYear,dayName,monthName
Date and Hour,,,,,,,,
2020-07-22 20:00:00+02:00,2020-07-22,20:00:00,21:00:00,Solar,244.0,204,Wednesday,July
2020-07-23 07:00:00+02:00,2020-07-23,07:00:00,08:00:00,Solar,223.0,205,Thursday,July
2020-07-23 16:00:00+02:00,2020-07-23,16:00:00,17:00:00,Solar,2517.0,205,Thursday,July
2020-07-23 19:00:00+02:00,2020-07-23,19:00:00,20:00:00,Solar,658.0,205,Thursday,July
2020-07-23 23:00:00+02:00,2020-07-23,23:00:00,24:00:00,Solar,0.0,205,Thursday,July

In [4]:
# Verificando valores ausentes:
missing_values = data.isnull().sum()

# Mostrar a contagem de valores ausentes por coluna:
print(missing_values)

Date          0
StartHour     0
EndHour       0
Source        0
Production    2
dayOfYear     0
dayName       0
monthName     0
dtype: int64

In [5]:
# Preenchendo os valores ausentes da coluna "Production" com a média:
mean_production = data["Production"].mean()
data["Production"].fillna(mean_production, inplace=True)
print('Valor médio da coluna Production:', mean_production)
print('Valores ausentes preenchidos com valor médio.')

Valor médio da coluna Production: 2792.8596
Valores ausentes preenchidos com valor médio.

In [7]:
day_name_verifier = data['dayName'].unique()
print(day_name_verifier)

['Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday']

In [8]:
source_verifier = data['Source'].unique()
print(source_verifier)

['Solar' 'Wind']

In [10]:
for column in data.columns:
    unique_values = data[column].unique()
    print(f"Valores únicos da coluna '{column}': {unique_values}")

Valores únicos da coluna 'Date': <DatetimeArray>
['2020-07-22 00:00:00', '2020-07-23 00:00:00', '2020-07-24 00:00:00',
 '2020-07-25 00:00:00', '2020-07-26 00:00:00', '2020-07-27 00:00:00',
 '2020-07-28 00:00:00', '2020-07-29 00:00:00', '2020-07-30 00:00:00',
 '2020-07-31 00:00:00',
 ...
 '2023-06-21 00:00:00', '2023-06-22 00:00:00', '2023-06-23 00:00:00',
 '2023-06-24 00:00:00', '2023-06-25 00:00:00', '2023-06-26 00:00:00',
 '2023-06-27 00:00:00', '2023-06-28 00:00:00', '2023-06-29 00:00:00',
 '2023-06-30 00:00:00']
Length: 1246, dtype: datetime64[ns]
Valores únicos da coluna 'StartHour': ['20:00:00' '07:00:00' '16:00:00' '19:00:00' '23:00:00' '01:00:00'
 '04:00:00' '05:00:00' '10:00:00' '14:00:00' '06:00:00' '08:00:00'
 '21:00:00' '03:00:00' '18:00:00' '22:00:00' '00:00:00' '09:00:00'
 '13:00:00' '11:00:00' '15:00:00' '02:00:00' '17:00:00' '12:00:00']
Valores únicos da coluna 'EndHour': ['21:00:00' '08:00:00' '17:00:00' '20:00:00' '24:00:00' '02:00:00'
 '05:00:00' '06:00:00' '11:00:00' '15:00:00' '07:00:00' '09:00:00'
 '22:00:00' '04:00:00' '19:00:00' '23:00:00' '01:00:00' '10:00:00'
 '14:00:00' '12:00:00' '16:00:00' '03:00:00' '18:00:00' '13:00:00']
Valores únicos da coluna 'Source': ['Solar' 'Wind']
Valores únicos da coluna 'Production': [ 244.  223. 2517. ... 6282. 5556. 6259.]
Valores únicos da coluna 'dayOfYear': [204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221
 222 223 224 225 226   1 227   2 228   3   4 229   5 230 231   6   7 232
 233 234   8 235   9 236  10 237  11 238  12 239 240 241  13 242  14 243
  15 244  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31
 245 246 247 248 249 250 251 252 253 254 255 256 257  32  33 258  34 259
  35 260  36 261 262  37 263  38 264  39 265 266  40 267  41 268  42 269
  43 270  44 271  45  46  47 272  48 273  49 274  50  51  52  53  54  55
  56  57  58  59  60 275 276 277 278 279  92  93 280 281 282  94  95 283
 284  96 285 286  97  98 287  99 288 100 289 101 290 102 291 103 292 104
 293 105 294 295 106 107 296 297 108 298 109 299 110 300 111 112 301 302
 113 303 114 115 304 116 305 117 118 119 120 121 306 122 307 123 308 124
 309 125 310 126 127 311 128 129 312 130 313 314 131 132 315 133 134 316
 135 317 136 318 137 319 138 320 139 321 140 322 141 323 324 325 142 326
 143 327 144 328 145 329 147 330 148 331 332 149 333 334 150 335 151 152
 146 153 336 337 154 155 338 339 156 340 157 341 158 342 343 159 344 160
 345 346 161 347 348 162 349 163 350 164 351 165 352 166 353 354 167 355
 168 356 169 357 170 358 171 359 172 173 174 360 175 176 361 177 362 178
 363 179 364 365 180 366 181 182 183 184 185 186 187 188 189 190 191 192
 193 194 195 196 197 198 199 200 201 202 203  91  61  62  63  64  65  66
  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84
  85  86  87  88  89  90]
Valores únicos da coluna 'dayName': ['Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday']
Valores únicos da coluna 'monthName': ['July' 'August' 'January' 'September' 'February' 'October' 'April'
 'November' 'May' 'June' 'December' 'March']

In [14]:
# Exportar DataFrame tratado para CSV
output_folder_path = os.path.dirname(file_path)
novo_nome_arquivo_csv = "tratado.csv"
data.to_csv(os.path.join(output_folder_path, novo_nome_arquivo_csv), index=False)